
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Login</title>
       
              



       
              <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css"  type="text/css"/>
</head>

	<body style="background-image: linear-gradient( #ffffe6,#b3daff);font:arial">
		<!--style="position:fixed;float:center;margin:auto;background-color: #f1f1f1;padding: 20px;background-color:#e6f2ff;"-->
		
		<div  >
				<p style="font-size:40px;display:inline-block;left:10%;position:relative;"><b>Login</b></p>
		</div>
		
		
                
                
         <br>
	<br>
	<br>
	<br>
        
        
       
            <div class="container">
                
                
                        <h1 ><center>USER LOGIN</center></h1>
                    
                    
	 

                 <form action="/user-data" method="post">
                    <div>
                        <input type="text" class="sub" style="display:block;" name="name" placeholder="Username" required>
                        
                        <input type="password" class="sub" style="display:block;" name="pass" placeholder="Password" required>
                       
                        
                        <br>
            
                        <input class="btn" type="submit" name="sub1" value="Submit">
		   </div>
                    </form>
                  <p><%= print %></p>          
  		</div>
                            
                   
     <br>
	<br>
	<br>                   
                        
                   
                   
           
        
         
    </body>
</html>